/* Tests were looking for required attribute and correct type, not a visual error style. This also wouldn't be adequate for real use anyways.

input:not(:focus):invalid {
  border: 2px solid red;
  outline: none;
  box-shadow: 0 8px 16px 0 rgba(255, 0, 0, 0.2), 0 6px 20px 0 rgba(255, 0, 0, 0.19);
}

*/
/*# sourceMappingURL=style.css.map */